{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salcon</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/payment.css' %}">
    <link rel="stylesheet" href="{% static '/css/addAddress.css' %}">
    <script src="https://kit.fontawesome.com/27ace92f15.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/boxicons@2.1.3/dist/boxicons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://js.stripe.com/v3/"></script>

    <script>
        var user = '{{request.user}}'
    </script>
</head>
<body>
    <header>
        <a href="{% url 'home-page' %}" class="logo">SALCON</a>
        
        <div class="acc">
            {% if user.is_authenticated %}
            <div class="dropDown">
                <div class="user" onclick=" toogleMenu() ">
                    <button>{{ user.getInitial }}</button>
                </div>
                
                
                <div class="log-out" id="subMenu">
                    <a href="{% url 'logout' %}">
                        <box-icon name='log-out'></box-icon>
                        Log out
                    </a>
                </div>
            </div>
            {% else %}
                <a href="{% url 'login' %}" class="login">Login</a>
            {% endif %}

            <a href="{% url 'checkout' %}" class="cart">
                <i class="fa-solid fa-cart-shopping fa-2x"></i>
                <span class="cart-count">{{cart_total}}</span>
                <p>Cart</p>
            </a>
        </div>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script src="{% static 'js/main.js' %}"></script>
    <script scr="{% static 'js/stripe.js' %}"></script>

</body>
</html>